<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @couple.category %>
</p>

<p>
  <strong>Groom:</strong>
  <%= @couple.groom_id %>
</p>
<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @couple.category %>
</p>

  <p>List of Comments(Contents below are important)</p>

  <!-- Get an HTML id of this comments_area and update only the part of that div -->
  <div id="comments_area">
    <!-- Render to display the posted comment list on the couples detail page -->
    <%= render partial: 'comments/index', locals: { comments: @comments, couple: @couple } %>
  </div>

  <!-- Render to display the comment field on the couples detail page -->
  <%= render partial: 'comments/form', locals: { comment: @comment, couple: @couple } %>

<%= link_to 'Edit', edit_couple_path(@couple) %> |
<%= link_to 'Back', couples_path %>
</div>
<%= link_to 'Edit', edit_couple_path(@couple) %> |
<%= link_to 'Back', couples_path %>
